@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&display=swap');

*{
    margin: 0;
    border: 0 ;
    box-sizing: border-box;
    font-family: "Asap", sans-serif ;
}

body{
    background-color: #25272e;

}

footer{
    position: fixed;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
}


header{
    background: white;
    padding: 20px;

}

header > h1{
    color: #25272e;
    text-align: center;

}

.scoreboard{
    position: relative;
    text-align: center;
    margin: 20px auto;
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    color: white;
    font-size: 46px;
}

.badge{
    background:#e2584d;
    color: white;
    font-size: 14px;
    padding: 2px 14px;
}

#user{
    position: absolute;
    left: -25px;
    top: 30px;
    border-radius: 2px;
}

#bot{
    position: absolute;
    right: -25px;
    top: 30px;
    border-radius: 2px;
}

.result{
    color: white;
    font-size: 40px;
}

.result p{
    text-align: center;
    font-weight: bold;
}

.choices{
    text-align: center;
    margin-top: 50px;
}

.choice{
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    padding: 12px;
    margin: 10px;
    transition: 0.5s;
}

.choice:hover{
    background-color:#24272e;
    cursor: pointer;
    padding: 18px;
    box-shadow:  0 0 10px #372554, 0 0 40px #372554, 0 0 80px #372554;
}

#ação{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}